@import "tailwindcss";

:root {
  --background: #fff5f5;
  --foreground: #4a4a4a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-caveat: var(--font-caveat);
  --font-patrick: var(--font-patrick);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-patrick), cursive;
}

.font-caveat {
  font-family: var(--font-caveat), cursive;
}

.font-patrick {
  font-family: var(--font-patrick), cursive;
}
